<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
	<script src="static/utility.js"></script>
  </head>
  <body>
	<h2>Example</h2>	
	<form name="my_form" method="POST">
		Enter your elements separated by space &nbsp; <input type="text" name = "list1"><br>
		Enter your elements separated by space &nbsp; <input type="text" name = "list2"><br>
		<input type="button" class="btn btn-sm" onclick="submitData('submitJSON')" value="Submit">	
	</form>			
</body>
</html>
