<!DOCTYPE html>
<html>
<head>
	<title>View page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style6.css') }}">
</head>
<body>
<nav class="nav">
    <div class="nav1">
    	<a class="r e" href="http://127.0.0.1:5000">Home</a>
    		<a class="r" href="http://127.0.0.1:5000/order">Order</a>
    		<a class="t r" href="http://127.0.0.1:5000/sold">Update Sold Stock</a>
    		<a class="r" href="http://127.0.0.1:5000/view">View Current Stock</a>
    		<a class="r" href="http://127.0.0.1:5000/history">history</a>
    		<a class="r" href="http://127.0.0.1:5000/policy">Policy</a>
    </div>
</nav><br><br><br><br>
<center><div style="width: 50%;font-family: cursive;font-size: 25px; border: 1px solid black;">
<p>
      Our company Store Management Incorporated in year 2020, For providing solution to retailers. Wholesalers may contact us via mail to provide service to various retailers. We provide customized solution to our customer at reasonable and affordable cost. This helps our customers to increase scale of business. Our products are usually 10-15% less costly than our peers. Our shop maintenance and number of items tracker “Mind My Store” made the shop management very easy. Its interface is easy to use and consist of various application like tracking of number of items, ordering items from wholesaler, daily profit calculation etc. make it a perfect solution for shopkeepers.
      We are strictly committed towards privacy of our users. We don’t share user’s any data to any company, organization or individual. You agree that if You provide any information that is untrue, inaccurate, not current or incomplete or We have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with the this Terms of Use, We shall have the right to indefinitely suspend or terminate or block access of your membership on the Website and refuse to provide You with access to the Website.
      We are highly committed to our customer satisfaction. We are happy to know your feedback and provide support. 
      For feedback and grievances mail us.
      <a href="mailto: hrishikrajeshkanade@iitbhilai.ac.in">MAIL</a>
    </p></div></center>
</body>
</html>
